@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
}

aside {
    width: 16vw;
    height: 100vh;
    background-color: #87502F;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
    list-style-type: none;
}

aside #logo {
    position: relative;
    top: -18vh;
    width: 12vw;
}

.coluna {
    display: flex;
    flex-direction: column;

    img {
        cursor: pointer;
    }
}

.linha {
    display: flex;
}

#dashboard {
    background-color: white;
    color: #87502F;
}



aside svg {
    width: 30%;
    height: 4vh;
    padding: 10px 0px;
}

.caixa {
    display: flex;
    font-size: 1.2vw;
    font-weight: 900;
    justify-content: start;
    width: 70%;
}

.select-aside {
    align-items: center;
    width: 120%;
    display: flex;
    background-color: rgba(198, 75, 75, 0);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

.select-aside #dashboard_icon path {
    fill: #87502F;
    stroke: #87502F;
    transition: fill 0.2s, stroke 0.2s;
}

#dashboard svg path {
    fill: #87502F;
    stroke: #87502F;
    transition: fill 0.2s, stroke 0.2s;
}

.select-aside svg path {
    fill: rgb(255, 255, 255);
    stroke: white;
    transition: fill 0.2s, stroke 0.2s;
}

.select-aside:hover {
    background-color: white;
    color: #87502F;
}

.select-aside:hover svg path {
    fill: #87502F;
    stroke: #87502F;
}

nav {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

nav .centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 20vw;
}

nav .centralizar img {
    margin-bottom: 2.5vw;
    height: 6.5vh;
}

nav .linha {
    height: 20vh;
    width: 67vw;
    justify-content: start;
    gap: 1.9vh;
    align-items: center;
}

nav .kpiDash {
    height: 70%;
    width: 20%;
    background-color: #87502F;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 2px;
}

.kpiDash .imagem {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img {
    width: 80%;
}

.kpiDash .texto {
    padding-top: 10px;
    height: 100%;
    width: 65%;
    display: flex;
    gap: 0.5vw;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    color: #ffffff;
    font-size: 1vw;
}

.kpiDash .texto span {
    font-size: 2.5vw;
}

main {
    height: 80vh;
    width: 84vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noScroll {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 0;
    border-radius: 15px;
    background-color: #87502F;
    border: 3px #87502F solid;
    margin-bottom: 5vh;
    padding-left: 1vw;
}

main .viveiros {
    width: 73vw;
    height: 70vh;
    display: flex;
    margin-top: 3vh;
    overflow-y: scroll;
    justify-content: center;
    background-color: #87502F;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#containerViveiros {
    width: 100%;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    gap: 1%;
}

.viveiros .card-viveiro {
    height: 14vh;
    border: #523923 6px solid;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5vh;
    cursor: pointer;
    flex: 1 0 22%;
    max-width: 19%;
    img {
        height: 70%;
    }


}

main .coluna {
    padding: 1.3vw 1vw;
    width: 100%;
    height: 93.6%;
    gap: 1vw;
}

.viveiros .titulo {
    color: #ffffff;
    font-size: 2vh;
    position: absolute;
    top: 18vh;
    align-self: center;
    background-color: #87502F;
    border: 2px solid #ffff;
    border-radius: 10px;
    padding: 7px 25px 0px 25px;
}

.kpiSensor .texto .ideal {
    color: #38B622;
    font-size: 5vh;
    font-weight: 900;
}

.kpiSensor .texto .acima {
    color: #87502F;
    font-size: 5vh;
    font-weight: 900;
}

.kpiSensor .texto .abaixo {
    color: #4B5AFF;
    font-size: 5vh;
    font-weight: 900;
}

.kpiSensor p {
    width: 135%;
    position: relative;
    right: 20px;
    text-align: right;
    font-size: 0.9vw;
    font-weight: 700;
}

.grafico {
    background-color: white;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    overflow: hidden;
    padding: 1vh 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
