@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    transition: background-color 0.3s ease;
    overflow-x: hidden;
    flex-direction: column;
    display: flex;
}

html {
  scroll-behavior: smooth;
}

/* Início da tela de home */

.container_menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100px;
}

i{
        padding-left: 1px;
}

.img_logo{
    width: 188px;
    height: 106px;
    top: 5px;
    left: 14px;
    background-size: 100% 100%;
}

.nav_menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 708px;
    height: 50px;
    margin-top: 2.3%;
    margin-left: 5%;
    border-radius: 10px;
    background-color: #F3F3F3;
    transition: background-color 0.5s ease;
}

.nav_menu a{
    margin:  0px 30px;
}

.a_menu{
    text-decoration: none;
    margin-top: 5%;
    font-family: "Sofia Sans", sans-serif ;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.btn_login{
    width: 86px;
    height: 50px;
    margin-top: 2.3%;
    margin-left: 1%;
    background-color: #87502F;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

a{
    text-decoration: none;
}

.btn_signin{ 
    width: 86px;
    height: 50px;
    margin-top: 2.3%;
    margin-left: 0.5%;
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #87502F;
    color: #87502F;
    cursor:pointer;
    transition: background-color 0.5s ease;
}

.btn_theme{
    width: 29px;
    height: 29px;
    margin-top: 2%;
    margin-left: 10%;
    background-image: url(../imgs/sol.png);
    background-repeat: none;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    cursor:pointer;
}

.btn_preto{
    width: 29px;
    height: 29px;
    margin-top: 2%;
    margin-left: 10%;
    background-image: url(../imgs/lua.png);
    background-repeat: none;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    cursor:pointer;
}

#img_linhas{
    position: absolute;
    z-index: -1;
}


.div_container_home{

    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;

}
.container_textos{
    display: flex;
    width: 32%;
    height: 100px;
    margin-top: 10%;
    flex-direction: column;
    
}


.div_textos_1{

    width: 90%;
    display: flex;
    flex-direction: row;
    height: 60px;

}

.span_div{
    font-family: "Six Caps", sans-serif;
    font-size: 54px;
    margin-left: 10%;
}

.span_div_2{
    font-family: "Send Flowers", cursive;
    font-weight: 580;
    color: #5ED549;
    font-size: 70px;
    height: 80px;
    text-decoration: underline 2px #6D3718;
    line-height: 100%;
    text-underline-offset: 5px;
    margin-left: 4%;
}

.span_div_3{
    font-family: "Six Caps", sans-serif;
    font-size: 54px;
    margin-left: 3%;
}


.div_textos_2{


    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;

}
.span_div_4{
    font-family: "Six Caps", sans-serif;
    font-size: 54px;

}

.span_div_5{
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    width: 75%;
    margin-top: 3%;
    font-weight: 1000;
    color: gray;
    text-align: center;
    justify-self: center;
    align-self: center;
}


.btn_calc{
    display: flex;
    width: 290px;
    height: 41px;
    background-color: #87502F;
    border-radius: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 3%;
    border: none;
    color: white;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    padding-left: 5px;
}

.btn_calc i{
padding-bottom: 3px;
padding-right: 10px;
}

.div_central{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    height: 538px;
    width:39%;
    margin-top: 2%;
}

.span_text{
   
    position: absolute;
    font-family: "Josefin Sans", sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-top: 10%;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #5ED549;
    color: white;
    opacity: 70%;
}

.black_span_text{

    position: absolute;
    font-family: "Josefin Sans", sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-top: 10%;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #5ED549;
    color: black;
    opacity: 70%;
}

.div_triangulo{
    display: flex;
    justify-self: flex-end;
    width: 359px;
    height: 436px;
    margin-left: 3%;
    margin-top: 10%;
    filter: brightness(100%);
}
/* Modo Escuro - Home */

.dark_menu{
    color: #A5A5A5;
    text-decoration: none;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.dark_btn_login{
    width: 86px;
    height: 50px;
    margin-top: 2.3%;
    margin-left: 1%;
    background-color: #87502F;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    border: none;
    color: black;
    cursor: pointer;
}
/* Início da tela de Projetos */
.container_projeto{
    display: flex;
    width: 100%;
    height: 110vh;
    background-color: #F3F3F3;
}

.container_1{

    display: flex;
    flex-direction: column;
    width: 45%;
    height: 720px;
    margin-left: 5%;
    margin-right: 2%;
    
}

.div_text_projeto_1{
    color: black;
    font-size: 64px;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 6%;
    font-weight: bold;
    text-decoration: none;
}

.div_text_projeto_2{
    color: black;
    font-size: 19px;
    font-family: "Sofia Sans", sans-serif;
    margin-top: 6%;
    width: 100%;
    text-align: justify;
}



.div_img_proj{
    display: flex;
    width: 598px;
    height: 289px;
    margin-top: 5%;
    background-image: url(../imgs/plant_projeto.jpg);   
    background-size: 100% 100%; 
    border-radius: 20px;
   
}

.container_2{
    display: flex;
    width: 44%;
    height: 720px;
    margin-left: 2%;
    margin-right: 5%;
    flex-direction: column;
    align-items: center;
}

.div_triangulos{
    display: flex;
    background-image: url(../imgs/grupo_triangulo.png);
    width: 450px;
    height: 200px;
    margin-top: 17%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.div_card_1{
    display: flex;
    background-color: #82E670;
    margin-top: 4%;
    width: 430px;
    height: 140px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
}

.div_textos_card_1{

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1%;


}

.text_div_card_1{
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    margin-left: 5%;
    width: 100%;
}

.text_div_card_2{
    color: white;
    font-family: "Sofia Sans", sans-serif;
    font-size: 14px;
    margin-left: 7%;
    margin-top: 6%;
    width: 80%;
    text-align: justify;
}


.img_plant_proj{
  
    display: flex;
    height: 180px;
    width: 70%;
    background-size: 100% 100%;
    background-image: url(../imgs/img_muda_projeto.png);
    transform: translate(0%,-28%);
}

.div_card_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2D2D2D;
    margin-top: 6%;
    width: 430px;
    height: 140px;
    border-radius: 10px;
}


.div_textos_card_2{

    display: flex;
    flex-direction: column;
    width: 65%;


}

.text_div_card_4{
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    width: 65%;
}

.text_div_card_5{
    color: white;
    font-family: "Sofia Sans", sans-serif;
    font-size: 14px;
    margin-top: 5%;
    width: 65%;
    text-align: justify;
}


.div_img_muda{
    width: 25%;
    height: 100px;
    border-radius: 50%;
    background-image: url(../imgs/plantando_mudas_projeto.png);
    background-size: 100% 100%;
}


/* Início da tela de Quem Somos? */
.container_quem{
    display: flex;
    width: 100%;
    height: 720px;
    background-color: white;
}

.cont_quem_esq{
    display: flex;
    width: 37%;
    height: 720px;
    flex-direction: column;
}

.img_esq{
    position: absolute;
    width: 359px ;
    height: 436px;
    z-index: 9;
}

.span_text_quem{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    z-index: 10;
    background-color: white;
    width: 315px;
    border-radius: 20px;
    height: 260px;
    text-align: justify;
    margin-left: 10%;
    margin-top: 15%;
    padding-top: 50px;
    padding-left: 20px;
}

.btn_saiba_quem{
    display: flex;
    width: 151px;
    height: 10px;
    box-shadow: 100px  black;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 15%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    background-color: #6D3718;
    color: white;
    border: none;
    cursor:pointer;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    z-index: 9;
}

.img_trian_quem{
    width: 380px;
    height: 180px;
    top: 84%;
    margin-left:6%;
}

.cont_quem_dir{
    display: flex;
    width: 60%;
    height: 720px;
    flex-direction: column;
}

.span_text_titulo_quem{
    font-family: "Josefin Sans", sans-serif;
    font-size: 58px;
    width: 60%;
    height: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 2%;
}


.div_imgs_quem{

    display: flex;
    height: 300px;
    width: 100%;
    flex-direction: row;
    margin-top: 5%;

}
.div_pessoa_quem{
    display: flex;
    background-color: #D9D9D9;
    width:388px ;
    height: 318px;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
}


.img_pessoa_quem{
    justify-self: center;
    align-self: center;
    background-image: url(../imgs/logo-seedtech.svg);
    width: 330px;
    height: 330px;
    background-size: 100% 100%;
}


.div_quem_plant{
    background-color: #2D2D2D;
    width: 330px;
    height: 220px;
    border-radius: 20px;
    margin-left: 4%;
    background-image: url(../imgs/img_quem.png);
    z-index: 120;
}

.div_img_final_quem{
    background-image: url(../imgs/img_final_quem.png);
    width: 740px;
    height: 280px;
    background-size: 100% 100%;
    border-radius: 20px;
    z-index: 100;
    transform: translate(0%,-16%);
}

.img_linhas_2{
    position: absolute;
    margin-left: 77%;
}



/* Início da página Cultura */
.container_cultura{
    display: flex;
    width: 100%;
    height: 720px;
    flex-direction: row;
}


.div_cult_esq{

    display: flex;    
    width: 40%;
    height:720px ;
    margin-left: 3%;
    flex-direction: column;
    justify-content: center ;

}


.span_titulo_cultura{
    font-size: 55px;
    height: 60px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 7%;
    color: black;
}

.card_cult_1{
    display: flex;
    background-color: #E4E4E4;
    width: 430px;
    height: 280px;
    border-radius: 20px;
    margin-top: 18%;
    flex-direction: column;
}

.span_card_1_tit{
    font-family: "Josefin Sans", sans-serif;
    color: #858585;
    font-size: 30px;
    margin-top: 10px;
    align-self: center;
}

.div_img_card_1{
    margin-top: 1%;
    width: 400px;
    height: 215px;
    background-image: url(../imgs/plant_projeto.jpg);
    background-size: 100% 100%;
    border-radius: 20px;
    align-self: center;
}

.span_text_cult_1{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    width: 200px;
    height: 120px;
    background-color: #646464;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 300;
    position: absolute;
    margin-left: 24%;
}

.img_conju_tri{
    display: flex;
    width: 450px;
    height: 180px;
    background-size: 100% 100%;
    background-image: url(../imgs/tricult.png);

}




.img_linhas_cult{
   transform: rotate(90deg);
   margin-left: 52.5%;
   margin-top: 10%;
   position: absolute;
}


.div_cult_dir{

display: flex;
width: 45%;
height: 720px;
flex-direction: column;
margin-top: 4%;
margin-left: 20%;

}


.card_cult_2{
    display: flex;
    background-color: #E4E4E4;
    width: 430px;
    height: 280px;
    border-radius: 20px;
    margin-top: 2%;
    flex-direction: column;
    z-index: 2;
}

.card_cult_3{        
    display: flex;
    background-color: #E4E4E4;
    width: 430px;
    height: 280px;
    border-radius: 20px;
    margin-top: 8%;
    flex-direction: column;
    z-index: 2;
}

.span_text_cult_2{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    width: 200px;
    height: 120px;
    background-color: #646464;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 300;
    margin-top: 5%;
    position: absolute;
    z-index: 3;
    transform: translate(-60%, 0);
}

.span_text_cult_3{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    width: 200px;
    height: 120px;
    background-color: #646464;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 300;
    z-index: 3;
    margin-top: 30%;
    position: absolute;
    transform: translate(-60%, 0);

}
/* Início da tela de contato */


.container_contato{
    display: flex;
    width: 100%;
    height: 720px;
    flex-direction: column;
}

.div_contato_text{
    color: #9D9D9D;
    background-color:#F3F3F3 ;
    width: 151px;
    height: 52px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-left: 10%;
    margin-top: 1%;
    position: absolute;
}

.div_form_contato{
    display: flex;
    flex-direction: row ;
    background-color:#F3F3F3 ;
    width: 90%;
    height: 530px;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 4%;

}


.div_contato_form_esq{

    display: flex;
    width: 40%;
    height: 600px;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 3%;
}

.span_form_cont_1{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.span_form_cont_2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #87502F;
    margin-top: 7%;

}

.span_form_cont_3{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 3%;
    width: 90%;
    text-align: justify;
}

.span_form_cont_4{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #87502F;
    text-align: justify;
    height: 10px;
    margin-top: 5%;
    cursor: pointer;
    text-decoration: none;
}

.seta_direita{
    padding-top: 5px;
    padding-left: 10px;
    width: 16px;
    height: 17px;
}

.div_btns_cont{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    margin-top: 15%;

}

.div_footer{
    width: 100%;
    height: 20px;
    padding-top: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

.div_cont{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6D3718;
    cursor: pointer;
}

.div_cont2{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6D3718;
    margin-left: 2%;
    cursor: pointer;
}

.fa-phone{
    color: white;
    align-self: center;
    justify-self: center;
    padding-left: 11px;
    padding-top: 12px;
}

.fa-envelope{
    color: white;
    align-self: center;
    justify-self: center;
    padding-left: 12px;
    padding-top: 12px;
}

.div_cent_img{
    background-image: url(../imgs/mao_com_muda_faleConosco.png);
    position: absolute;
    background-size: 100% 100%;
    width: 319px;
    height: 401px;
    transform: translate(-50% 50%);
    margin-left: 36%;
    margin-top: 9.5%;
  
}

.div_form_right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    margin-left: 24%;
}

.span_form_1{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #707070;
    margin-top: 10%;
}

.input_cont_1{
    background-color: #DEDEDE;
    border: none;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    color: black;
}

.span_form_2{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #707070;
    margin-top: 2%;
}

.input_cont_2{
    background-color: #DEDEDE;
    border: none;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    color: black;
    font-family: "Poppins", sans-serif;
}

.span_form_3{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #707070;
    margin-top: 2%;
}

.input_cont_3{
    background-color: #DEDEDE;
    border: none;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    color:black;
    font-family: "Poppins", sans-serif;
}

.span_form_4{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #707070;
    margin-top: 2%;
    margin-left: 35%;
    background-color: #DEDEDE;
    width: 30%;
    border-radius: 20px;
    border: solid 1px white;
    text-align: center;
    z-index: 10;
}

.input_cont_4{
    display: flex;
    background-color: #DEDEDE;
    border: none;
    border-radius: 10px;
    height: 150px;
    width: 95%;
    color: black;
    margin-top: -3%;
    font-family: "Poppins", sans-serif;
    z-index: 9;
    padding-top: 10px;
    padding-left: 10px ;
    padding-right: 10px ;
}

input, textarea, select { 
    outline: 0; 
}

.btn_limpar{
    display: flex;
    width: 115px;
    height: 45px;
    margin-top: 37%;
    margin-left: -21%;
    background-color: transparent;
    border: solid 1px #87502F;
    border-radius: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #87502F;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.btn_enviar{
    width: 115px;
    height: 45px;
    margin-top: 37%;
    margin-left: 2%;
    background-color: #87502F;
    border-radius: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: none;
    cursor: pointer;
}
/* Efeitos de Hover */

.a_menu:hover{
    color: #82E670;
    transition: 0.3s;
}

.dark_menu:hover{
    color: #82E670;
    transition: 0.3s;
}

.btn_login:hover{
    color: #82E670;
    transition: 0.3s;
}

.btn_signin:hover{
    color: #82E670;
    transition: 0.3s;
    border: solid 1px #82E670;
}

.dark_btn_login:hover{
    color: #82E670;
    transition: 0.3s;
}

.btn_calc:hover{
    color: #82E670;
    transition: 0.3s;
}

.img_icon_proj:hover{
    filter: contrast(175%) brightness(3%);
    transition: 0.3s;
}

.btn_saiba_quem:hover{
    color: #82E670;
    transition: 0.3s;    
}

.fa-envelope:hover{
    color: #82E670;
    transition: 0.3s;     
}

.fa-phone:hover{
    color: #82E670;
    transition: 0.3s;    
}

.btn_limpar:hover{
    color: #82E670;
    transition: 0.3s;   
    border: solid 1px #82E670;
}
.btn_enviar:hover{
    color: #82E670;
    transition: 0.3s;   
}