@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rochester&family=Six+Caps&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Josefin Sans";
    transition: background-color 0.3s ease;

}

.container{
    display: flex;
}

.div_erro{

    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 25%;
    background-color: #fff;
    border: solid 3px #38B622;
    position: fixed;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 6px rgba(14, 14, 17, 0.2);
    transform: translate(-50%,-50%);
    left: 50%;
    align-items: center;
    top: 50%;
    justify-content: space-evenly;
    opacity: 0;
    z-index: 10000;
}

@keyframes surgir{

    from{

        opacity: 0%;
    }

    to{

        opacity: 100%;
    }

}

@keyframes sumir{

    from{

        opacity: 100%;
    }

    to{

        opacity: 0%;
    }

}

.img_erro{

    width: 40%;
    height: 20vh;
    background-image: url(../imgs/error.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;    
}

.btn_again{

    background-color: red;
    width: 50%;
    height: 7vh;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.2s ease-in-out;
    text-align: center;

}


.seta-retorno {

    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.03s, color 0.03;
}



.seta-retorno:hover {

    background-color: white;
    color: #5e2b17;
    transition: 0.5s;
}

.sidebar{
    width: 400px;
    height: 100vh;
    background-color: #6D3718;
    color: white;
    display: flex;
}

.conteudo{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    width: 100%;
    min-height: 300px;
}

.seedTech{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 5px;
}

.seedTech img{
    width: 60px;
}

.conteudo .texto input{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: #87502F solid 2px;  
    text-align: center;
}

.conteudo .texto{
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
}

.conteudo button{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-radius: 8px;
    border: solid 1px;
    width: 130px;
    height: 40px;
    background-color: #87502F;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

.sol{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 80px;
    top: 30px;
    cursor: pointer;
}

.lua{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 80px;
    top: 30px;
    cursor: pointer;
    display: none;
}


.slogan{
    width: 1000px;
    height: 603px;
    background-image: url("../imgs/linhas.png");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}   


.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seed{
    font-size: 70px;
    color: #6D3718;
}

#seed span{
    color: #38B622;
}

#inovacao{
    font-size: 18px;
}
