@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
}

aside {
    width: 16vw;
    height: 100vh;
    background-color: #87502F;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
    list-style-type: none;
}

aside #logo {
    position: relative;
    top: -18vh;
    width: 12vw;
}

.coluna {
    display: flex;
    flex-direction: column;

    img {
        cursor: pointer;
    }
}

.linha {
    display: flex;
}

#dashboard {
    background-color: white;
    color: #87502F;
}

.img_co2{
    width: 60px;
    height: 60px;

}

aside svg {
    width: 30%;
    height: 4vh;
    padding: 10px 0px;
}

.caixa {
    display: flex;
    font-size: 1.2vw;
    font-weight: 900;
    justify-content: start;
    width: 70%;
}

.select-aside {
    align-items: center;
    width: 120%;
    display: flex;
    background-color: rgba(198, 75, 75, 0);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

#dashboard svg path {
    fill: #87502F;
    stroke: #87502F;
    transition: fill 0.2s, stroke 0.2s;
}

.select-aside #dashboard_icon path {
    fill: #87502F;
    stroke: #87502F;
    transition: fill 0.2s, stroke 0.2s;
}

.select-aside svg path {
    fill: white;
    stroke: white;
    transition: fill 0.2s, stroke 0.2s;
}

.select-aside:hover {
    background-color: white;
    color: #87502F;
}

.select-aside:hover svg path {
    fill: #87502F;
    stroke: #87502F;
}

nav {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

nav .centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 20vw;
}

nav .centralizar img {
    margin-bottom: 2.5vw;
    height: 6.5vh;
}

nav .linha {
    height: 20vh;
    width: 67vw;
    justify-content: start;
    gap: 1.9vh;
    align-items: center;
}

nav .kpiDash {
    height: 70%;
    width: 20%;
    background-color: #87502F;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 2px;
}

.kpiDash .imagem {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img {
    width: 80%;
}

 .co2_alto{
    width: 140px;
    height: 60px;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/co2_alto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
}

 .co2_baixo{
    width: 140px;
    height: 60px;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/co2_baixo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
}


.kpiDash .texto {
    padding-top: 10px;
    height: 100%;
    width: 65%;
    display: flex;
    gap: 0.5vw;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    color: #ffffff;
    font-size: 1vw;
}

.kpiDash .texto span {
    font-size: 2.5vw;
}

.grafico .titulo {
    color: #ffffff;
    font-size: 1.5vh;
    position: absolute;
    top: 18vh;
    align-self: center;
    background-color: #87502F;
    border: 2px solid #ffff;
    border-radius: 10px;
    padding: 7px 25px 0px 25px;
}

main {
    height: 80vh;
    width: 84vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .sensores {
    width: 73vw;
    height: 70vh;
    display: flex;
    margin-top: 3vh;
    overflow-y: scroll;
    justify-content: center;
    background-color: #87502F;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.voltar{
    position: absolute;
    top:20%;
    border-radius: 50%;
    left: 16%;
}
.seta-retorno {
    position: absolute;
    top: 21vh;
    left: 16.7vw;
    background-image: url(../imgs/left.svg);
    background-color: #87502F;
    border: 2px solid #87502F;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.03s, color 0.03;
}

#voltarGrafico{
    display: none;
}

.seta-retorno:hover {
    background-color: white;
    color: #5e2b17;
    transition: 0.5s;
    background-image: url(../imgs/leftbrown.svg);
}

.noScroll {
    width: 72vw;
    height: auto;
    overflow: hidden;
    margin: 0;
    border-radius: 15px;
    background-color: #87502F;
    border:3px #87502F solid ;
    margin-bottom: 5vh;
    padding-left: 1vw;
}

.sensores .containerSensores {
    width: 100%;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    gap: 1%;
}

.sensores .card-sensores {
    width: 19%;
    height: 12vh;
    border: #523923 6px solid;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1% ;
}

.card-sensores p {
    font-weight: bold;
    text-align: left;
    font-size: 2.5vh;
    span {
        color: #1DD904;
    }
}

.bolinha {
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: -5.5%;
}

main .coluna {
    padding: 1.3vw 1vw;
    width: 100%;
    height: 93.6%;
    gap: 1vw;
}

.sensores .titulo {
    color: #ffffff;
    font-size: 1.5vh;
    position: absolute;
    top: 18vh;
    align-self: center;
    background-color: #87502F;
    border: 2px solid #ffff;
    border-radius: 10px;
    padding: 7px 25px 0px 25px;
}

main .grafico {
    margin-top: 2vh;
    width: 68vw;
    height: 67vh;
    margin-bottom: 5vh;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    background-color: #87502F;
    padding: 2vw;
    gap: 3vh;
}

.grafico .informacoes {
    color: white;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 2.5vh;
}

.grafico .telaGrafico {
    width: 100%;
    height: 95%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telaGrafico #sensorAnalogico {
    border: 10px;
}

.nav_alertas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.retangulo{
    border-radius: 10px;
    width: 60%;
    height: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
}

.retangulo div{

    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 14px;
    font-weight: bold;

}

.vermelho{
    width: 20%;
    height: 100%;
}

.amarelo{
    background-color: #fea603;
    width: 20%;
    height: 100%;
}

.verde{
    background-color: #38B622;
    width: 20%;
    height: 100%;
}